{
  "database": {
    "dialect": "mysql",
    "database": "sunmait_career_days_development",
    "username": <YOUR USERNAME>,
    "password": <YOUR PASSWORD>,
    "host": "localhost",
    "port": <YOUR PORT>
  }
}
