{
  "database": {
    "dialect": "mysql",
    "database": "sunmait_career_days_development",
    "username": <YOUR USERNAME>,
    "password": <YOUR PASSWORD>,
    "host": "localhost",
    "port": <YOUR PORT>
  },
  "email": {
    "username": "denis.zhidis@gmail.com",
    "password": "1q2w3e1q2w3e"
  },
  "secretKey": "asdaasd",
  "hostname": "http://localhost:3000",
  "identityServer": {
    "host": "http://localhost:5000",
    "clientId": "careerday_sunmait"
  }
}